<footer class="footer"> 
    Copyright &copy; 2023 <a href="http://digital-ecology.co.uk">Digital Ecology Limited</a> and <a href="https://record-lrc.co.uk">RECORD LERC</a>. Redsea is released under an open licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
</footer>
